//partials
@use "partials/variables" as var;

//variable global
$bg: #f5f5f5;

body {
  background: $bg;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: #2c3e50 solid 1px;
}

h1 {
  font-size: 2em;
  //variable local
  $primary-color: salmon;
  color: $primary-color;
}

p {
  color: red;
}

//nesting
ul {
  list-style: none;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px;
    a {
      text-decoration: none;
      color: red;
    }
  }
}

//partials
div {
  color: var.$col;
}

//parent selector
div {
  color: red;
  &:hover {
    color: blue;
  }
  &.btn {
    color: green;
  }
}

//mixins
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

div {
  @include flex(column, center, center);
}

//extend
.btn{
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;

  &-1{
    @extend .btn;
    background: red;
  }

  &-2{
    @extend .btn;
    background: blue;
  }
}

//interpolation
@mixin btn ($name: "", $color: #000) {
  .btnM-#{$name} {
    background: $color;
    color: white;
    &:hover {
      background: darken($color, 10%);
    }
  }
}

@include btn("1", red);
@include btn("2", blue);

//placeholders selectors
%btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnL{
  @extend %btn;
  background: red;
  color: white;
  &:hover {
    background: darken(red, 10%);
  }
}

.btnL-1{
  @extend %btn;
  background: blue;
  color: white;
  &:hover {
    background: darken(blue, 10%);
  }
}

.btnL-2{
  @extend %btn;
  background: green;
  color: white;
  &:hover {
    background: darken(green, 10%);
  }
}